<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About page-Virtual Eye</title>
</head>
<body>
	<div class="wrapper">
			<nav class="navbar">
				<img class="logo" src="{{ url_for('static', filename='css/vE1.png') }}" usemap="#workmap">
				<map name="workmap">
 					 <area shape="rect" coords="0,0,273,736" href="{{ url_for('base') }}">
 				</map>
				<ul>
					<li><a href="{{url_for('signin')}}">Login</a></li>
				</ul>
			</nav>
			<div class="center">
			<h1>Thanks for using Virtual Eye</h1>
			<div class="buttons">
			<button class="btn2"><a href="{{ url_for('signin') }}">Login</a></button>
		</div>
		</div>

</body>
</html>